@charset "UTF-8";
html {
  /*スクロールを滑らかにする文*/
  scroll-behavior: smooth;
}

.pagetop{
  position: fixed;
  right: 16px;
  bottom: 16px;
  /*透明度の調整(デフォルト状態＝半透明　アクション時＝不透明)*/
  opacity: 0.2;

  padding: 0;
}

/*twitter画像をホバーした時(画像の上にカーソルがある時)*/
.pagetop:hover{
  /*画像を不透明に変更*/
  opacity: 0.85;
  /*カーソル変更*/
  cursor: pointer;
}
/*クリックした瞬間*/
.pagetop:active{
  /*位置を3px下げる*/
  position: fixed;
  right: 16px;
  bottom: 13px;
}
